/*  4 externo */

body{
    padding-bottom: 500px;
}

h3 {
    color: green;
}

.paragrafo{
    background-color: black;
    color: blue;
}

#paragraf{
    background-color: aqua;
    color: orange;
    font-size: 50px;
}

.color-name{
    color: crimson;
}

.color-hex{
    color: #3535b9;
}

.rgb{
    color: rgb(10, 255, 13);
}

.hsl{
    color: hsl(100, 30%, 50%);
}

.bg{
    color: white;
    background-color: black;
}

.bg-2{
    color: orange;
    background-color: blue;
}

.opacity{
    background-color:purple ;
    opacity: 0.2;
}

.rgba-opacity{
    background-color: rgba(140, 120, 20, 0.10);
    color: #000;
}